<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m2">
               
        </div>

        <div class="col s12 m8">          
          <div class="card" data-ng-repeat="user in userList">
            <div class="card-content">
              <span class="card-title"></span>
               <div class="row">
                  <div class="col s6" >
                     <a href class="black-text"><b>{{user.name}}</b></a><br>
                     <span class="left-align">Last Login : {{user.last_login | convertdate }}</span><br>
                     <span class="left-align" data-ng-class="{'green-text':user.active, 'red-text':!user.active}" >{{user.active | activestatus}}</span><br> 
                  </div>
                
                  <div class="col s3">  
                  </div>
                
                  <div class="col s3">
                    <div class="chip right">
                        {{user.verified | verifiedstatus}}
                    </div>
                    <div class="switch right">
                      <label>
                        <input type="checkbox" data-ng-model="user.active">
                        <span class="lever"></span>
                      </label>
                    </div>
                  </div>      
          	   </div>

            </div>
          </div>          
		   </div>

        <div class="col s12 m2">
          
        </div>
      </div>

    </div>
    
  </div>